<% @comments.each do |comment| %>
  <% unless comment.archived? %>
    <div class='comment'>
      <%= link_to User.find(comment.user_id).user_name.nil? ? "#{User.find(comment.user_id).email}" : "#{User.find(comment.user_id).user_name}", user_path(comment.user_id)%> :
      <%= comment.body %>
      <%if user_signed_in? &&( comment.user_id == current_user[:id] || current_user.role == "admin") %>
      <%= link_to t("Destroy Comment"), [comment.article, comment], data: {
                    turbo_method: :delete,
                    turbo_confirm: t("Are you sure?")
                  },  class: "btn btn-outline-light" %>
      <%= link_to t('Edit'), edit_article_comment_path(@article, comment), class: "btn btn-outline-pimary" %> 
      <% end %>
    </div>
  <%end%>
<%end%>

