  <% @comments.each do |comment| %>
<% unless comment.archived? %>
<div class='comment'>
    <strong><%= link_to "#{User.find(comment.user_id).email.split("@")[0]}:", user_path(comment.user_id)%> </strong>
    <br>
    <%= comment.body %>
    <br>
   <%if user_signed_in? &&( comment.user_id == current_user[:id] || current_user.role == "admin") %>
  <%= link_to "Destroy Comment", [comment.article, comment], data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
  </div>
<% end %>

<div class='destroy'>


<%end%>
<%end%>

