<div >
  <h2 style="text-align:center;
   margin: 30px; padding:30px;
   background-color:cornflowerblue;
   width:100%; box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); 
   color:white;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
  <%= t("Too many atricles to choose which one to start with? explore random three articles and see what fate brings to you!")%>
  </h2>
  <br>
  <% filtered_articles = []%>
  <% @articles.each do |article| %>
    <% unless article.archived? ||(article.private? || article.approved == false && article.user != current_user) || article.status == 'members only' %> 
      <% filtered_articles << article %>
    <%end%>
  <%end%>

  <table >
        <thead>
      <tr class = 'row'>
        <th scope="col"></th>
        </tr> 
        </thead>  
  <% filtered_articles[0..2].each do |article| %>
        <tbody id="articles" style="margin: 30px;
  background-color: white;
  opacity: 0.6;
  padding: 30px">
        <tr >
          <td ><span class='title' style="font-size: 25px"><%=article.title.capitalize%></span><br> </td> 
        </tr>
        <tr>
        <td><%= article.description || t("no description")%></td>
        </tr>
      </tbody>
            <tr style="margin-bottom:20px; background-color:white">
          <td style="text-align:right"><%= button_to t("read more"), article_url(article), :method => :get, class:"btn btn"%></td>      <tr >
        <tr>
  <% end %>
  </table>
</div>