<body>
<p class= 'blogcounter'> Our blog has <%= Article.public_count %> articles and counting! </p>
<% if user_signed_in? %>
<div class="newarticle">
 <%= link_to "New Article", new_article_path %>
 </div>
<%end%>
<h1 class='title'>ARTICLES</h1>


<body>
   <%=render partial: 'blogs'%>
    <%= yield %>
</body>

