  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-globe2 text-light lg" style="font-size: 1.5em;"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
        <li class="dropdown-item">
          <%= link_to(locale: :ge) do %>
                    <img  width=30 class="c-icon ms-3 mt-2"  alt="geoflag" src="https://cdn.countryflags.com/thumbs/georgia/flag-400.png"> ქართული
                <% end %>
        </li>

        <li class="dropdown-item">
          <%= link_to(locale: :en) do %>
                    <img  width=30 height=21 class="c-icon ms-3 mt-2" alt="enflag" src="https://cdn.countryflags.com/thumbs/united-kingdom/flag-400.png"> english
                  <% end %>
        </li>
    </ul>
  </li>




  