<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>


  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <table class='articles'>
        <td><%= link_to article.title, article %></td>
       </tr>
        <tr>
       <td><%= article.body.split(" ").first(30).join(" ")%></td>
      </tr>
     </table>
    <% end %>
  <% end %>

  <%= link_to "create new article", new_article_path %>

