/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .map {
  width: 100%;
  min-height: 400px;
}

 #phones {
  display:block;
  background-color: #ffffff52;
  border: 2px solid rgba(255, 128, 128, 0.227);
  border-collapse: separate;
  border-spacing: 8px; 
  margin: 20px;
  padding: 5px;
  border-radius: 1%; }
  
body{
  background-color:rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.article_show{
  background-color: rgba(255, 255, 255, 0.289);
  padding: 50px;
  border-radius: 3%;

}

.article_form{
  width: 100%;
  border-radius: 3%;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  position: relative;
  margin: auto;
}
 
 .reactions {
  display: flexbox;
 }
 .admintable{
  position: absolute;
  width: 100%;
  left:0%;
 }
 #articles{
  display:block;
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 8px; 
  width: 1250px;
}

 .aticlestable{
  width:auto;
  block-size: fit-content
 }

.forms{
  width: 400px;
  background-color: rgba(255, 255, 255, 0.451);
  padding: 15px;
  position: relative;
  top: 200px;
  align-self: center;
  margin: auto;
  border-radius: 2%;
}
.actions{
  margin-top: 20px;
}
.general {
  display: flex;
  padding: 20px;
  border-radius: 1%;
  box-sizing: content-box;
}


.comment {
  color: black;
  border: 1px solid rgb(156, 154, 154);
  padding: 5px 5px;
  margin: 2px;
  background-color: white;
}

 


.destroy p {
  padding-left: 50px;
  color: grey;
  padding: 5px;
  width:150px;
  position: relative;
  left: 50px;
  

}


.destroy p:hover {
  position: relative;

}

.newcomment p{
  position: relative;

}

.blogcounter{
  color: rgb(210, 209, 209);
  font-size: xx-large;
  border: 3px;
  padding: 20px 10px;
  text-shadow: 2px 2px #a9a7a7;
}


.author {
  opacity: 0.5;
}

.golden{
  background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}
.digg_pagination {
  background: #ffffff00;
  cursor: default;
  position: relative;
  
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #333436;
    color: white;
    border: 1px solid #202326; }
  .digg_pagination a {
    text-decoration: none;
    color: #333639;
    border: 1px solid #7f828a; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #1d1e1f;
    color: rgba(255, 255, 255, 0);
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000000;
      background: #494b4d;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; 
}

