/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.comment {
  color: black;
  border: 3px solid rgb(246, 242, 242);
  padding: 20px 5px;
  margin: 20px;
  background-color: rgb(255, 255, 255);
    box-shadow: 5px 2px 5px 5px #cacaca;
  border-radius: 25px
}

 
html,
body {
  padding: 20px;
}


.destroy p {
  padding-left: 50px;
  color: grey;
  padding: 5px;
  width:150px;
  position: relative;
  left: 50px;
  

}

.destroy p:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 10px #aca6a6;
  border-radius: 25px
}

.newcomment {
  border: 3px solid rgb(246, 242, 242);
  padding: 20px;
   box-shadow: 5px 10px #aca6a6;
  border-radius: 25px
}

.newcomment p{
  position: relative;

}

.addcomment{
  color: rgb(255, 255, 255);
  position: relative;
  left: 20px;
  text-shadow: 2px 2px #aca6a6
}


.article{
  color: black;
  border: 3px solid rgb(246, 242, 242);
  padding: 20px 10px;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 10px #aca6a6;
}

.title{
  font-family: Apple Chancery, cursiv;
  text-shadow: 2px 2px #aca6a6;
}


.blogcounter{
  color: rgb(210, 209, 209);
  font-size: xx-large;
  border: 3px;
  padding: 20px 10px;
  text-shadow: 2px 2px #a9a7a7;
}


.author {
  opacity: 0.5;
}


