<h1>Editing category</h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to t("Show this category"), @category %> |
  <%= link_to t("Back to categories"), categories_path %>
</div>
