<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your articele has been updated by admin</h1>
    <p>
    <%= @user.user_name %>, looks like your article "<%= @article.title%>" is approved by admin
    </p>
    <p>
    </p>
    <p>Thanks for posting and have a great day!</p>
  </body>
</html>