
<div id="places">
  <% @places.each do |place| %>
    <%= render place %>
    <p>
      <%= link_to t("Show this place"), place , class: "btn btn-primary"%>
    </p>
  <% end %>
</div>

<%= link_to t("New place"), new_place_path, class: "btn btn-primary" %>
