<%= render @place %>

<div>
  <%= link_to t("Edit this place"), edit_place_path(@place) %> |
  <%= link_to t("Back to places"), places_path %>

  <%= button_to t("Destroy this place"), @place, method: :delete %>
</div>
